@model Fl.Admin.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Вход на сайт";
}
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-edit"></i>
        @ViewBag.Title
    </li>
</ol>
<div id="loginarea" >
    <div class="col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Имя пользователя")
                    @Html.TextBoxFor(model => model.Email, new { @class="form-control", placeholder = "Введите имя пользователя или адрес электронной почты" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, "Пароль")
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Введите пароль здесь" })
                </div>
            </div>
            <div class="row text-right">
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")&nbsp;
                <button class="btn btn-default" type="submit">Войти</button>
            </div>
        }
    </div>
</div>



