@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html ng-app="flLife">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>child-center</title>
    @Html.Partial("Views/Shared/_Content")
    @Html.Partial("Views/Shared/_IE9")
    @RenderSection("css", false)
</head>

<body>

    <div class="container">

        <!-- header banner start -->
        <div class="row cd-block-margin-top">
            <div class="col-lg-50 col-xs-50 cd-block-style cd-header-banner">
                <a href="#"></a>
            </div>
        </div>
        <!-- header banner end -->
        <!-- navigation start -->
        <div class="row cd-block-margin-top">
            @Html.Partial("Views/Shared/_Navbar")
            @Html.Partial("Views/Shared/_Social")
        </div>
        <!-- navigation end -->
        <!-- content start -->
        <div class="row cd-block-margin-top">
            @Html.Partial("Views/Shared/_MobileSidebar")

            @RenderBody();

            @Html.Partial("Views/Shared/_Sidebar")
        </div>
        <!-- content end -->
        <!-- footer start -->
        <div class="row cd-block-margin-top cd-block-margin-bot">
            <div class="col-lg-37 col-md-29 col-sm-29 col-xs-50 cd-block-style cd-copyright">
                <div class="pull-left">Центр помощи детям “Цветы жизни”</div>
                <div class="pull-right">2015 - 2016</div>
            </div>
            <div class="col-md-19 col-md-offset-2 col-sm-19 col-sm-offset-2 col-xs-50 hidden-lg cd-social">
                <a class="pull-left" href="#"><div class="cd-social-btn-1"></div></a>
                <a class="pull-left" href="#"><div class="cd-social-btn-2"></div></a>
                <a class="pull-left" href="#"><div class="cd-social-btn-3"></div></a>
                <a class="pull-left" href="#"><div class="cd-social-btn-4"></div></a>
                <a class="pull-left" href="#"><div class="cd-social-btn-5"></div></a>
                <div class="visible-xs cd-multi-language">
                    <a href="#"><span class="pull-right cd-multi-language-active">RU</span></a>
                    <a href="#"><span class="pull-right">UK</span></a>
                    <a href="#"><span class="pull-right">EN</span></a>
                </div>
            </div>
            <div class="col-lg-12 col-lg-offset-1 visible-lg">
                <div class="form-group cd-block-style cd-search">
                    <input type="search" class="cd-search-input" placeholder="поиск...">
                </div>
            </div>
        </div>
        <!-- footer end -->
    </div>
        @Html.Partial("Views/Shared/_Scripts")
        @RenderSection("scripts", false)
</body>

</html>