@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Fl.Web.Public.General
<div class="col-lg-37 cd-block-style cd-navbar">
    <div class="cd-navbar-btn">
        <a href="#"><span class="pull-left">@Text.Navigation.About</span></a>
        <a href="#"><span class="pull-left">@Text.Navigation.Navigation.Autism</span></a>
        <a href="#"><span class="pull-left cd-navbar-btn-active">@Text.Navigation.Navigation.News</span></a>
        <a href="#"><span class="pull-left">@Text.Navigation.Navigation.PaymentInfo</span></a>
    </div>
    <div class="cd-multi-language hidden-xs">
        @* ReSharper disable once UseStringInterpolation *@
        @foreach (var language in GeneralConstants.Languages)
        {
             <a href="@(string.Format("/language/{0}/backurl/{1}", language.Key, Request.Url.BasePath))"><span class="pull-right @(language.Key == GeneralConstants.CurrentLanguage ? "cd-multi-language-active" : string.Empty)">@language.Key</span></a>
        }
        
  </div>
</div>
